@import './quasar.variables.scss';

/* Disable dark mode */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --section-gap: 160px;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  color: $primary;
  padding: 0.5rem;
}

section {
  margin: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}


.form {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  li {
    padding: 1rem;
    max-width: 100%;
    min-width: 100%;
  }
}

.btn {
  padding: 0.75rem !important;
}


.q-chip {
  background-color: $secondary !important;
  color: white !important;

  .q-chip__icon {
    color: white !important;
  }
}

@media (hover: hover) {
  a:hover {
    //background-color: $primary-light;
  }
}